# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment Variables
.env

# TensorFlow Models
*.h5
*.keras
*.pb

# Model Checkpoints
checkpoints/
models/

# Generated Features
features/
*.npz
*.npy

# Dataset
dataset/

# Outputs
outputs/

# Temporary Files
*.tmp
*.bak

# Cache
.cache/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
 datasets/